<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mario Kart Hub | Bot</title>
    <meta name="description" content="Mario Kart Hub | Bot">
    <link id="favicon" rel="icon" href="#" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="theme-color" content="#e91e63" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>    

    <main>
      <img alt="MKHub Bot" src="#"/> 
      <div class="wrapper">
        <div class="badge">
          <span>online</span>
        </div>
      </div>
    </main>


  </body>
</html>
